﻿@model KirklandHospital.Models.ViewModels.SurveyAnswerEdit
@{
    ViewData["Title"] = "New";
}

<h2>Survey</h2>
<form method="POST" action="/SurveyAnswer/Create">
    <div class="inptrow">
        <label id="Question_New" name="Question_New">
            @foreach(var question in Model.SurveyQuestions)
            {
               <div> @question.Question </div>
               <div>
                   <input name="surveyans" type="radio" value="very poor" />Very poor
                   <input name="surveyans" type="radio" value="poor" />Poor
                   <input name="surveyans" type="radio" value="fair" />Fair
                   <input name="surveyans" type="radio" value="good" />Good
                   <input name="surveyans" type="radio" value="very good" />Very good
               </div>
            }
        </label>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>
