﻿@model KirklandHospital.Models.EmergencyAlert

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h3 class="form-header">Create New Messsage</h3>
    <div class="container" style="width:30em;">
        <hr />
        <form method="POST" action="/EmergencyAlert/Create">
            <div class="form-group">
                <label>Title:</label>
                <input class="form-control" type="text" name="EmergencyMessageTitle_New" />
            </div>

            <div class="form-group">
                <label>Content:</label>
                <textarea class="form-control" name="EmergencyMessageContent_New"></textarea>
            </div>
            <div class="form-group">
                <label>Is Published:</label>
                <input type="checkbox" name="IsPublished_New" value="true" />
            </div>

            <button type="submit" class="btn btn-secondary">Submit</button>

        </form>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
