﻿@model KirklandHospital.Models.EmergencyAlert

@{
    ViewData["Title"] = "Edit";
}

<h2 class="form-header">Edit the Messsage</h2>
<hr/>
<div class="container" style="width:30em;">

    <form method="POST" action="/EmergencyAlert/Edit/@Model.EmergencyID">
        <div class="form-group">
            <label>Title:</label>
            <input class="form-control" type="text" name="EmergencyMessageTitle" value="@Model.EmergencyMessageTitle" />
        </div>

        <div class="form-group">
            <label>Content:</label>
            <textarea class="form-control" name="EmergencyMessageContent">@Model.EmergencyMessageContent</textarea>
        </div>
        <div class="form-group">
            <label>Is Published:</label>
            <input type="checkbox" id="IsPublished_New" name="IsPublished" value="true" />
        </div>

        <button type="submit" class="btn btn-secondary">Edit</button>

    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
