﻿@model IEnumerable<KirklandHospital.Models.EmergencyAlert>

@{
    ViewData["Title"] = "List";
}


@if ((string)ViewData["IsAdmin"] == "None")
{

    @foreach (var eMessage in Model)
     {

        <div class="container">
            <div class="jg-form">
                    <h2 class="alert-head">Emergency Alert!</h2>
                    <h3>@eMessage.EmergencyMessageTitle</h3>
                    <p>@eMessage.EmergencyMessageContent</p>
            </div>
        </div>
     }
}
else
{
    <div class="container">
        <h2 class="form-header">Create new Message</h2>
        <div><a asp-action="Create">Create New</a></div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
        "List",
        "EmergencyAlert",
        new { pagenum= ((int)ViewData["pagenumber"]-1)}
        )

        @Html.ActionLink("Next",
        "List",
        "EmergencyAlert",
        new { pagenum = ((int)ViewData["pagenumber"]+1)}
        )
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Emergensy Title</th>
                    <th>Content</th>
                    <th>IsPublished</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var eMessage in Model)
            {
                <tr>
                    <td>@(eMessage.EmergencyID)</td>
                    <td>@(eMessage.EmergencyMessageTitle)</td>
                    <td>@(eMessage.EmergencyMessageContent)</td>
                    <td>@(eMessage.IsPublished)</td>
                    <td>@(eMessage.EmergencyMessageCreated)</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete/" + eMessage.EmergencyID)
                        @Html.ActionLink("Edit", "Edit/" + eMessage.EmergencyID)
                    </td>
                </tr>
            }
        </table>
    </div>
}
