﻿@model KirklandHospital.Models.ViewModels.GiftShopCustomerEdit
@{
    ViewData["Title"] = "Create";
}
<div class="body-content container">
    <h2 class="form-header">Customer Form</h2>
    <div>

        <form class="jg-form" method="POST" action="/GiftShopCustomer/Create">
            <div class="form-group">
                <label>First Name:</label>
                <input class="form-control" type="text" name="CustomerFirstName_New" />
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <input class="form-control" type="text" name="CustomerLastName_New" />
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" type="text" name="CustomerEmail_New" />
            </div>
            <div>

                <label>Payment Method:</label>
                <span>Pay Pal</span>
                <input type="radio" name="CustomerPaymentMethod_New" value="paypal" />
                <span>Stripe</span>
                <input type="radio" name="CustomerPaymentMethod_New" value="stripe" />

            </div>
            <div class="form-group">
                <label>Product:</label>
                <select class="form-control" id="CustomerProduct_New" name="CustomerProduct_New">
                    @foreach (var product in Model.GiftShopProducts)
                    {
                        <option value="@product.ProductID">@product.ProductName</option>
                    }
                </select>
            </div>

            <button type="submit" class="jg-button submit-button">Submit</button>

        </form>

    </div>
</div>
