﻿@model KirklandHospital.Models.ViewModels.GiftShopCustomerEdit

@{
    ViewData["Title"] = "Edit";
}



<h2 class="form-header">Edit Customer</h2>
<div style="width:30em;">

    <form method="POST" action="/GiftShopCustomer/Edit/@Model.GiftShopCustomer.CustomerID">
        <div class="form-group">
            <label>First Name:</label>
            <input class="form-control" type="text" name="CustomerFirstName" value="@Model.GiftShopCustomer.CustomerFirstName"/>
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <input class="form-control" type="text" name="CustomerLastName" value="@Model.GiftShopCustomer.CustomerLastName"/>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" type="text" name="CustomerEmail" value="@Model.GiftShopCustomer.CustomerEmail"/>
        </div>
        <div>

            <label>Payment Method:</label>
            <span>Pay Pal</span>
            <input type="radio"  name="CustomerPaymentMethod" value="paypal" />
            <span>Stripe</span>
            <input type="radio"  name="CustomerPaymentMethod" value="stripe" />

        </div>
        <div class="form-group">
            <label>Product:</label>
            <select class="form-control"  name="CustomerProduct" value="@Model.GiftShopCustomer.ProductID">
                @foreach (var product in Model.GiftShopProducts)
                {
                    <option value="@product.ProductID">@product.ProductName</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-secondary">Edit</button>

    </form>

</div>
