﻿@model IEnumerable<KirklandHospital.Models.GiftShopCustomer>

@{
    ViewData["Title"] = "List";
}

<h2 class="form-header">List of Gift Shop customers</h2>

<div class=" container">
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
    "List",
    "GiftShopCustomer",
    new { pagenum= ((int)ViewData["pagenumber"]-1)}
    )

    @Html.ActionLink("Next",
    "List",
    "GiftShopCustomer",
    new { pagenum = ((int)ViewData["pagenumber"]+1)}
    )
    <table class="table">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Product ID</th>
                <th>Payment Method</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var user in Model)
        {
        <tr>
            <td>@(user.CustomerID)</td>
            <td>@(user.CustomerFirstName)</td>
            <td>@(user.CustomerLastName)</td>
            <td>@(user.CustomerEmail)</td>
            <td>@(user.GiftShopProduct.ProductID)</td>
            <td>@(user.CustomerPaymentMethod)</td>
            <td>@Html.ActionLink("Edit", "Edit/" + user.CustomerID)</td>
            <td>@Html.ActionLink("Delete", "Delete/" + user.CustomerID)</td>
        </tr>
        }
    </table>

</div>


