﻿@model KirklandHospital.Models.GiftShopCustomer

@{
    ViewData["Title"] = "SuccessMsg";
}

<div class="img-gift-shop">
    <div class="img-caption">
        <h3 class="img-caption_text">
            Gift Shop
        </h3>
    </div>
</div>
<div class="container jg-form ">
    <h3 class="text-thank-msg">Your payment went through successfully, your purchase will be delivered. Thank you. </h3>
    <div><a asp-action="../Home">Back to List</a></div>
</div>

