﻿@model KirklandHospital.Models.Department;
@{
    ViewData["Title"] = "Create";
}

<h2>Add a Department</h2>
<form method="POST" action="/Department/Create">
    <div class="jg-label">Department Name:</div>
    <input type="text" name="DepartmentName_new" />
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>