﻿@model IEnumerable<KirklandHospital.Models.Department>

@{
    ViewBag.Title = "List";
}

<h2>Hospital Departments</h2>
<ul>
@foreach (var Department in Model)
{
    <li>@Department.DepartmentName</li>
    <li>@Department.DepartmentID</li>
}
</ul>