﻿@model KirklandHospital.Models.ECardTemplate
@{ 
    ViewBag.Title = "Create";
}
<div class="body-content container">

    <h2>Upload a New Ecard Image</h2>
    @using (Html.BeginForm("Create/", "ECardTemplate", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label for="Title_new">Image Title: </label>
        <input name="Title_new" type="text" />

        <label for="img">Upload Image: </label>
        <input name="img" title="Upload your image" type="file" />
        <div>
            <input type="submit" value="Submit" />
        </div>
    }
</div>