﻿@model IEnumerable<KirklandHospital.Models.ECardTemplate>

@{
    ViewBag.Title = "List";
}
<div class="body-content container">

    <h2>ECard Templates</h2>
    <ul>
        @foreach (var Template in Model)
        {
            <li>
                @Template.ECardTemplateTitle : @Template.ECardTemplatePath <br />
                <img src="~/images/ECard/@(Template.ECardTemplatePath)" width="100" />
            </li>

        }
    </ul>

</div>
