﻿@model KirklandHospital.Models.ViewModels.FeedbackEdit
@{
    ViewData["Title"] = "Create";
}
<div class="img-feedback">
    <div class="img-caption">
        <h3 class="img-caption_text-page-feedback">
            Let us know about your experience
            with the Hospital!
        </h3>
    </div>
</div>

<div class="body-content container">
    <h2 class="form-header">Feedback Form</h2>

    <form class="jg-form" method="POST" action="/Feedback/Create" id="feedback-form">
        <div class="col-md-6 form-group">
            <label>Name:</label>
            <input class="form-control" type="text" name="UserName_New" />
        </div>
        <div class="col-md-6 form-group">
            <label>Email:</label>
            <input class="form-control" type="text" name="UserEmail_New" />
        </div>
        <div class="col-md-6 form-group">
            <label>Department:</label>
            <select id="FeedbackDepartment_New" name="FeedbackDepartment_New" class="form-control">
                @foreach (var department in Model.Departments)
                {
                    <option value="@department.DepartmentID">@department.DepartmentName</option>
                }
            </select>
        </div>
        <div class="col-md-6 form-group">
            <label>Type:</label>
            <select name="FeedbackType_New" class="form-control">
                <option value="positive">Positive</option>
                <option value="negative">Negative</option>
                <option value="suggestion">Suggestion</option>
            </select>

        </div>
        <div class="col-md-6 form-group">
            <label>Subject:</label>
            <input class="form-control" type="text" name="FeedbackSubject_New" />
        </div>
        <div class="col-md-6 form-group">
            <label>Content:</label>
            <textarea class="form-control" name="FeedbackContent_New"></textarea>
        </div>

        <button type="submit" class="jg-button submit-button">Submit</button>

    </form>
    <hr/>

    @if ((string)ViewData["IsAdmin"] != "false")
    {
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    }
</div>

