﻿@model KirklandHospital.Models.Feedback
@{
    ViewData["Title"] = "Delete";
}


<div class="container">
    <h3>Are you sure you want to delete this Feedback?</h3>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FeedbackID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeedbackID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeedbackUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeedbackUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeedbackUserEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeedbackUserEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeedbackMessageSubject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeedbackMessageSubject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeedbackMessageType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeedbackMessageType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeedbackMessageContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeedbackMessageContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeedbackPosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeedbackPosted)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> 
        <div><a asp-action="Index">Back to List</a></div>
    </form>
</div>