﻿@model KirklandHospital.Models.ViewModels.FeedbackEdit

    @{
        ViewData["Title"] = "Edit";
    }

    <h2 class="form-header">Edit the Feedback</h2>
    <div style="width:30em;">

        <form method="POST" action="/Feedback/Edit/@Model.Feedback.FeedbackID">
            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" name="UserName"  value="@Model.Feedback.FeedbackUserName"/>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" name="UserEmail" value="@Model.Feedback.FeedbackUserEmail" />
            </div>
            <div class="form-group">
                <label>Department:</label>
                <select name="FeedbackDepartment" class="form-control">
                    @foreach (var department in Model.Departments)
                    {
                        <option value="@department.DepartmentID">@department.DepartmentName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Type:</label>
                <select name="FeedbackType" class="form-control">
                    <option value="positive">Positive</option>
                    <option value="negative">Negative</option>
                    <option value="suggestion">Suggestion</option>
                </select>

            </div>
            <div class="form-group">
                <label>Subject:</label>
                <input class="form-control" name="FeedbackSubject" value="@Model.Feedback.FeedbackMessageSubject"/>
            </div>
            <div class="form-group">
                <label>Content:</label>
                <textarea class="form-control" name="FeedbackContent">@Model.Feedback.FeedbackMessageContent</textarea>
            </div>

            <button type="submit" class="btn btn-secondary">Edit</button>

        </form>

    </div>

