﻿@model IEnumerable<KirklandHospital.Models.Feedback>



@{
    ViewData["Title"] = "List";
}

<h2 class="form-header">List of Feedbacks</h2>
<div class=" container">
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
    "List",
    "Feedback",
    new { pagenum= ((int)ViewData["pagenumber"]-1)}
    )

    @Html.ActionLink("Next",
    "List",
    "Feedback",
    new { pagenum = ((int)ViewData["pagenumber"]+1)}
    )
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Department ID</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>Message Type</th>
                <th>Message Subject</th>
                <th>Message Content</th>
                <th>Message Date</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var feedback in Model)
        {
        <tr>
            <td>@(feedback.FeedbackID)</td>
            <td>@(feedback.Department.DepartmentID)</td>
            <td>@(feedback.FeedbackUserName)</td>
            <td>@(feedback.FeedbackUserEmail)</td>
            <td>@(feedback.FeedbackMessageType)</td>
            <td>@(feedback.FeedbackMessageSubject)</td>
            <td>@(feedback.FeedbackMessageContent)</td>
            <td>@(feedback.FeedbackPosted)</td>
           
            <td>@Html.ActionLink("Edit", "Edit/" + feedback.FeedbackID)</td>
            <td>@Html.ActionLink("Delete", "Delete/" + feedback.FeedbackID)</td>
            
        </tr>
        }
    </table>

</div>


