﻿@model KirklandHospital.Models.Feedback

@{
    ViewData["Title"] = "SuccessMsg";
}

<div class="img-feedback">
    <div class="img-caption">
        <h3 class="img-caption_text-page-feedback">
            Let us know about your experience 
            with the Hospital!
        </h3>
    </div>
</div>
<div class="container jg-form ">
    <h2 class="text-thank-msg">Thank you for providing your valuable feedback!</h2>
        <div><a asp-action="../Home">Back to List</a></div>
</div>

