﻿@model KirklandHospital.Models.ECardMessage;
@{
    ViewData["Title"] = "Create";
}
<div class="body-content container">


    <h2>Create a New Message</h2>
    <form method="POST" action="/ECardMessage/Create">
        <div class="jg-label">Message:</div>
        <input type="text" name="Message_new" />
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
