﻿@model IEnumerable<KirklandHospital.Models.ECardMessage>

@{
    ViewBag.Title = "List";
}
<div class="body-content container">

    <h2>Message Options</h2>
    <ul>
        @foreach (var Message in Model)
        {
            <li>@Message.ECardMessageText</li>
            <li>@Html.ActionLink("Delete", "Delete/" + Message.ECardMessageID)</li>


        }
    </ul>
</div>
