﻿@model KirklandHospital.Models.BookAnAppointment;
@{
    ViewData["Title"] = "Edit";
}

<h2 class="form-header">Edit Appointment</h2>

<form class="jg-form" method="POST" action="/BookAnAppointment/Edit/@Model.BookAnAppointmentID">
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">First Name:</div>
            <input type="text" name="FirstName" value="@Model.PatientFName" />
        </div>
        <div class="col-md-6 form-group">
            <div class="jg-label">Last Name:</div>
            <input type="text" name="LastName" value="@Model.PatientLName" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">Address:</div>
            <input type="text" name="Address" value="@Model.PatientAddress" />
        </div>
        <div class="col-md-6 form-group">
            <div class="jg-label">City:</div>
            <input type="text" name="City" value="@Model.PatientCity" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">Province:</div>
            <input type="text" name="Province" value="@Model.PatientProvince" />
        </div>
        <div class="col-md-6 form-group">
            <div class="jg-label">Postal Code:</div>
            <input type="text" name="PostalCode" value="@Model.PatientPostalCode" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">Phone:</div>
            <input type="text" name="Phone" value="@Model.PatientPhone" />
        </div>
        <div class="col-md-6 form-group">
            <div class="jg-label">Email:</div>
            <input type="text" name="Email" value="@Model.PatientEmail" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">Gender</div>
            <input type="radio" id="no" name="gender"
                   value="male" />
            <label for="no">Male</label>
            <input type="radio" id="yes" name="gender"
                   value="female" />
            <label for="yes">Female</label>
        </div>
        <div class="col-md-6 form-group">
            <div class="jg-label">DOB:</div>
            <input type="date" name="DOB" value="@Model.PatientDOB" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">Appointment Date:</div>
            <input type="date" name="AppointmentDate" value="@Model.AppointmentDate" />
        </div>
        <div class="col-md-6 form-group">
            <div class="jg-label">Appointment Time:</div>
            <input type="time" name="AppointmentTime" value="@Model.AppointmentTime" />
        </div>
    </div>

            <div>
                <input type="submit" value="Edit Appointment" />
            </div>
</form>


