﻿@model IEnumerable<KirklandHospital.Models.BookAnAppointment>
@{
    ViewData["Title"] = "List";
}
<div class="body-content container">
    <h2 class="form-header">Booked Appointments List</h2>
    <h3 class="recadd">
        @Html.ActionLink("Book a new appointment", "New", "BookAnAppointment")
    </h3>

    <!-- Pagination -->
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
    "List",
    "BookAnAppointment",
    new { pagenum= ((int)ViewData["pagenum"]-1)}
    )

    @Html.ActionLink("Next",
    "List",
    "BookAnAppointment",
    new { pagenum = ((int)ViewData["pagenum"]+1)}
    )
    <!--List of booked appointments -->
    <table class="table">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Appointment Date</th>
                <th>Appointment time</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var BookAnAppointment in Model)
            {

                <tr>
                    <td>@BookAnAppointment.PatientFName</td>
                    <td>@BookAnAppointment.PatientEmail</td>
                    <td>@BookAnAppointment.PatientPhone</td>
                    <td>@BookAnAppointment.AppointmentDate</td>
                    <td>@BookAnAppointment.AppointmentTime</td>
                    <td>@Html.ActionLink("Edit", "Edit/" + BookAnAppointment.BookAnAppointmentID)</td>
                    <td>@Html.ActionLink("Delete", "Delete/" + BookAnAppointment.BookAnAppointmentID)</td>

                </tr>
            }
        </tbody>
    </table>
</div>