﻿
@{
    ViewData["Title"] = "New";
}
<div class="body-content container">
    <h2 class="form-header">New Appointment</h2>
    <h3 class="recadd">
        @Html.ActionLink("Go to your booked appointments", "List", "BookAnAppointment")
    </h3>
    <form class="jg-form" method="POST" action="/BookAnAppointment/New">
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="jg-label">First Name</div>
                <input id="FirstName_New" name="FirstName_New" />
            </div>
            <div class="col-md-6 form-group">
                <div class="jg-label">Last Name</div>
                <input id="LastName_New" name="LastName_New">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="jg-label">Address</div>
                <input id="Address_New" name="Address_New">
            </div>
            <div class="col-md-6 form-group">
                <div class="jg-label">City</div>
                <input id="City_New" name="City_New">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="jg-label">Province</div>
                <input id="Province_New" name="Province_New">
            </div>
            <div class="col-md-6 form-group">
                <div class="jg-label">Postal code</div>
                <input id="Postal_New" name="Postal_New">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="jg-label">Phone</div>
                <input id="Phone_New" name="Phone_New">
            </div>
            <div class="col-md-6 form-group">
                <div class="jg-label">Email</div>
                <input id="Email_New" name="Email_New">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="jg-label">Gender</div>
                <input type="radio" id="no" name="Gender_New"
                       value="0" />
                <label for="no">Male</label>
                <input type="radio" id="yes" name="Gender_New"
                       value="1" />
                <label for="yes">Female</label>
            </div>
            <div class="col-md-6 form-group">
                <div class="jg-label">DOB</div>
                <input type="date" id="DOB_New" name="DOB_New">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="jg-label">Appointment Date</div>
                <input type="date" id="AppointmentDate_New" name="AppointmentDate_New">
            </div>
            <div class="col-md-6 form-group">
                <div class="jg-label">Appointment Time</div>
                <input type="time" id="AppointmentTime_New" name="AppointmentTime_New">
            </div>
        </div>
        <input type="submit" value="Submit" />

    </form>
</div>