﻿@model KirklandHospital.Models.BookAnAppointment;
@{
    ViewData["Title"] = "Show";
}

<h2>Donation Number: @Model.BookAnAppointmentID</h2>

Patient Name: @Model.PatientFName @Model.PatientLName <br />
Email: @Model.PatientEmail <br />
Phone: @Model.PatientPhone <br />
Appointment Date: @Model.AppointmentDate <br />
Appointment Time: @Model.AppointmentTime
