﻿@model KirklandHospital.Models.Page

@{
    ViewData["Title"] = "Delete";
}

<div class="page-wrap container">
    <h3 class="form-header form-text">Are you sure you want to delete this page?</h3>
    <div class="jg-form form-text">
        <ul class="list-group">
            <li class="list-group-item">@Html.DisplayFor(model => model.PageID)</li>
            <li class="list-group-item">@Html.DisplayFor(model => model.PageTitle)</li>
            <li class="list-group-item">@Html.DisplayFor(model => model.PageContent)</li>
        </ul>
        <form asp-action="Delete">
            <div class="form-group">
                <input type="submit" value="Delete" class="jg-button" />
            </div>
        </form>
    <a asp-action="Index" class="jg-button">Back to List</a>
</div>
</div>
