﻿<!-- get data from page model -->
@model KirklandHospital.Models.Page

@{
    ViewData["Title"] = "Details";
}
<!-- dynamically generate page conent and links to edit/delete/back -->
<div class="container page-wrap">
    <div>
        <h1 class="form-header">@Html.DisplayFor(model => model.PageTitle)</h1>
        <p class="jg-form">@Html.DisplayFor(model => model.PageContent)</p>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.PageID">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.PageID">Delete</a> |
        <a asp-action="List">Back to List</a>
    </div>
</div>
