﻿@model KirklandHospital.Models.Page

@{
    ViewData["Title"] = "Edit";
}

<div class="container page-wrap">
    <h2 class="form-text form-header">Edit Page</h2>
    <div class="jg-form form-text">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PageTitle" class="control-label"></label>
                <input asp-for="PageTitle" class="form-control" />
                <span asp-validation-for="PageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageContent" class="control-label"></label>
                <textarea asp-for="PageContent" class="form-control"></textarea>
                <span asp-validation-for="PageContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="jg-button" />
            </div>
            <a asp-action="Index" class="jg-button">Back to List</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

