﻿@model IEnumerable<KirklandHospital.Models.Page>

@{
    ViewData["Title"] = "List";
}

<div class="container page-wrap">
    <h2 class="form-header form-text">List of Pages</h2>
    <div class="jg-form form-text">
        <a asp-action="CreateAsync" class="jg-button">Create New Page</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PageID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PageTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PageContent)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageContent)
                        </td>
                        <td>
                            <!-- passing the id of that list item to the selcted view/controller -->
                            <a asp-action="Edit" asp-route-id="@item.PageID">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.PageID">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.PageID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "List",
            "Page",
            new { pagenumber = ((int)ViewData["pagenumber"]-1)}
            )
        |
        @Html.ActionLink("Next",
            "List",
            "Page",
            new { pagenumber = ((int)ViewData["pagenumber"] + 1) }
            )
    </div>
</div>