﻿@model KirklandHospital.Models.FAQ

@{
    ViewData["Title"] = "Create";
}
<div class="container page-wrap">
    <h2 class="form-text form-header">Add FAQ</h2>
    <div class="jg-form form-text">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <textarea asp-for="Answer" class="form-control" ></textarea>
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="jg-button" />
            </div>
            <a asp-action="Index" class="jg-button">Back to List</a>
        </form>
    </div>
</div>

