﻿@model KirklandHospital.Models.FAQ

@{
    ViewData["Title"] = "Delete";
}


<div class="page-wrap container head-space">
    <h2 class="form-header">Are you sure you want to delete this FAQ?</h2>
    <div class="jg-form text-center">
        <div>
            <h3>@Html.DisplayNameFor(model => model.FaqID)</h3>
            <p>@Html.DisplayFor(model => model.FaqID)</p>
        </div>
        <div>
            <h3>@Html.DisplayNameFor(model => model.Question)</h3>
            <p>@Html.DisplayFor(model => model.Question)</p>
        </div>
        <div>
            <h3>@Html.DisplayNameFor(model => model.Answer)</h3>
            <p>@Html.DisplayFor(model => model.Answer)</p>
        </div>
        <div>
            <h3>@Html.DisplayNameFor(model => model.Date)</h3>
            <p>@Html.DisplayFor(model => model.Date)</p>
        </div>
        <form class="head-space" asp-action="Delete">
            <input type="submit" value="Delete" class="jg-button" />
        </form>
        <a asp-action="Index">Back to List</a>
    </div>
