﻿
<!-- get data from page model -->
@model KirklandHospital.Models.FAQ

@{
    ViewData["Title"] = "Details";
}
<!-- dynamically generate page conent and links to edit/delete/back -->
<div class="container page-wrap head-space">
    <h2 class="form-header">FAQ</h2>
    <div class="jg-form">
        <div>
            <h3>FAQ ID</h3>
            <p>@Html.DisplayFor(model => model.FaqID)</p>
        </div>
        <div>
            <h3>@Html.DisplayNameFor(model => model.Question)</h3>
            <p>@Html.DisplayFor(model => model.Question)</p>
        </div>
        <div>
            <h3>@Html.DisplayNameFor(model => model.Answer)</h3>
            <p>@Html.DisplayFor(model => model.Answer)</p>
        </div>
        <div>
            <h3>@Html.DisplayNameFor(model => model.Date)</h3>
            <p>@Html.DisplayFor(model => model.Date)</p>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.FaqID">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.FaqID">Delete</a> |
            <a asp-action="List">Back to List</a>
        </div>
    </div>
</div>