﻿@model IEnumerable<KirklandHospital.Models.FAQ>

@{
    ViewData["Title"] = "List";
}
<div class="container page-wrap head-space">
    <h2 class="form-header form-text">List of FAQs</h2>
    <div class="jg-form form-text">
        <a asp-action="CreateAsync" class="jg-button">Create New</a>
            @foreach (var item in Model)
            {
        <div class="card">
            <sub>@Html.DisplayFor(modelItem => item.Date)</sub>
            <div>
                <a asp-action="Details" asp-route-id="@item.FaqID">@Html.DisplayFor(modelItem => item.Question)</a>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Answer)</p>
            </div>
            <a asp-action="Edit" asp-route-id="@item.FaqID">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.FaqID">Delete</a>
        </div>
            }
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "List",
            "FAQ",
            new { pagenumber = ((int)ViewData["pagenumber"]-1)}
            )
        |
        @Html.ActionLink("Next",
            "List",
            "FAQ",
            new { pagenumber = ((int)ViewData["pagenumber"] + 1) }
            )
    </div>
</div>