﻿<!-- get data from page model -->
@model KirklandHospital.Models.FAQ

@{
    ViewData["Title"] = "Details";
}
<!-- dynamically generate page conent and links to edit/delete/back -->
<div class="container page-wrap head-space">
    <h2 class="form-header">FAQ</h2>
    <div class="card form-text">
        <p class="detail-display">Question: @Html.DisplayFor(model => model.Question)</p>
    </div>
    <div class="card form-text">
        <p class="detail-display">Answer: @Html.DisplayFor(model => model.Answer)</p>
    </div>
    <a asp-action="PublicList" class="jg-button">Back to List</a>
</div>
