﻿@model IEnumerable<KirklandHospital.Models.FAQ>

@{
    ViewData["Title"] = "List";
}
<div class="container page-wrap head-space">
    <h2 class="form-header form-text">Frequently Asked Questions</h2>
    <div class="jg-form form-text">
        @foreach (var item in Model)
        {
            <div class="card">
                <a asp-action="PDetails" asp-route-id="@item.FaqID">@Html.DisplayFor(modelItem => item.Question)</a>
                <p>@Html.DisplayFor(modelItem => item.Answer)</p>
            </div>
        }
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "PublicList",
            "FAQ",
            new { pagenumber = ((int)ViewData["pagenumber"]-1)}
            )
        |
        @Html.ActionLink("Next",
            "PublicList",
            "FAQ",
            new { pagenumber = ((int)ViewData["pagenumber"] + 1) }
            )
    </div>
</div>