﻿
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Survey Question</h2>

<form method="POST" action="/SurveyQuestion/Edit/@Model.SurveyQuestionID">
    <div class="jg-label">Question:</div>
    <input type="text" name="question" value="@Model.Question" />
    
    <div>
        <input type="submit" value="Edit Question" />
    </div>
</form>




