﻿@model IEnumerable<KirklandHospital.Models.SurveyQuestion>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>
@foreach (var SurveyQuestion in Model)
{
    <table class="jg-table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@SurveyQuestion.Question</td>
                <td>@Html.ActionLink("Edit", "Edit/" + SurveyQuestion.SurveyQuestionID)</td>
                <td>@Html.ActionLink("Delete", "Delete/" + SurveyQuestion.SurveyQuestionID)</td>

            </tr>
        </tbody>
    </table>
}
