﻿
@{
    ViewData["Title"] = "New";
}

<h2>New Question</h2>

<form method="POST" action="/SurveyQuestion/Create">
    <div class="inprow">
        <label class="inplabel">Question</label>
        <input id="Question_New" name="Question_New" />
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>

