﻿@model KirklandHospital.Models.SurveyQuestion;
@{
    ViewData["Title"] = "Show";
}

<h2>Survey Question:</h2>

<div>
    @Html.ActionLink("Edit", "Edit/" + Model.SurveyQuestionID);
</div>

<div>
    @Html.ActionLink("Delete", "delete/" + Model.SurveyQuestionID);
</div>
