﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KirklandHospital</title>

    <environment include="Development">

        <link rel="stylesheet" href="~/css/jenna-style.css" />
        <link rel="stylesheet" href="~/css/ryan-style.css" />
        <link rel="stylesheet" href="~/css/mariya-style.css" />
        <link href="https://fonts.googleapis.com/css?family=Khula:800|Pontano+Sans" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="page-wrap">
    <div id="top-menu" class="container"> @await Html.PartialAsync("_LoginPartial")</div>
    <div id="logo-block">

        <a href="../"><img src="~/images/KDHLogo.png" id="logo" /></a>


        <h1 id="site-header" class="text-center">Humber Lake Hospital</h1>

        
        <span class="jg-button donation-button"><a class="button-link" href="~/Donation/Create">Donations</a></span>
        <span class="emergency-button"><a class="button-link" href="~/Home/About">Emergency</a></span>

    </div>
    <nav id="nav-bar" class="navbar navbar-inverse">
        <div class="container" id="navbarcontainer">
            <div class="navbar-header">
                <button type="button" id="toggle-button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Humber Lake Hospital</a>-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown-list">
                        <a href="#">About</a>
                        <ul>
                            <li class="list-underline"><a href="~/Home/About">About KDH</a></li>
                            <li class="list-underline"><a href="~/Home/About">Strategic Plan</a></li>
                            <li><a href="~/Home/About">Finacial Statements</a></li>
                            <li><a href="~/Home/About">Staff Contact</a></li>
                            <li><a href="~/Home/About">Board of Directors</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-list">
                        <a href="#">Patient Information</a>
                        <ul>
                            <li><a href="~/Home/About">Emergency Department</a></li>
                            <li><a href="~/Department/List">Departments</a></li>
                            <li><a href="~/Home/About">Your stay at KDH</a></li>
                            <li><a href="~/ECard/Create">Send an ECard!</a></li>
                            <li><a href="~/Home/About">Safety and Responsibility</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-list">
                        <a href="#">Visitor Information</a>
                        <ul>
                            <li><a href="~/Home/About">Services</a></li>
                            <li><a href="~/Home/About">Maps and Hours</a></li>
                            <li><a href="~/GiftShopProduct/List">Gift Shop</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-list">
                        <a href="#">Get Involved</a>
                        <ul>
                            <li><a href="~/Job/List">Career Opportunities</a></li>
                            <li><a href="~/Home/About">Volunteer Opportunities</a></li>
                            <li><a href="~/NewsEvent/List">News and Events</a></li>
                            <li><a href="~/Feedback/Create">Feedback Form</a></li>
                            <li><a href="~/SurveyQuestion/New">Take our Survey</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-list"><a href="~/Home/About">Foundation</a></li>

                </ul>
                
            </div>
        </div>
    </nav>


    <div>
        @RenderBody()
        <hr />

    </div>
    <footer id="footer">

        <div class="footer-list">
            <ul>
                <li class="footer-header">Visitor Tools</li>
                <li><a href="~/Home/About">Location Information</a></li>
                <li><a href="~/Home/About">Parking and Hours</a></li>
                <li><a href="~/Home/About">Patient Bill of Rights</a></li>
                <li><a href="~/Home/About">Insurance Information</a></li>
            </ul>
        </div>
        <div class="footer-list">
            <ul>
                <li class="footer-header">About Us</li>
                <li><a href="~/FAQ/PublicList">FAQs</a></li>
                <li><a href="~/Job/List">Careers</a></li>
                <li><a href="~/Home/About">News Releases</a></li>
                <li><a href="~/Home/About">Humber Lake Foundation</a></li>

            </ul>
        </div>
        <p>&copy; 2019 - Humber Lake Hospital | Privacy Policy | Terms of Use | Sitemap</p>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
