﻿@model KirklandHospital.Models.ViewModels.JobDepartment
@{
    ViewData["Title"] = "Create";
}
<div class="body-content container">

    <h2 class="form-header">Create a New Job Posting</h2>
    <form class="jg-form" method="POST" action="/Job/Create">
        <div class="jg-label">Job Title:</div>
        <input type="text" name="Title_new" class="form-control" />
        <div class="jg-label">Job Description:</div>
        <input type="text" name="Description_new" class="form-control" />
        <div class="jg-label">Applications Close:</div>
        <input type="text" name="ClosingDate_new" class="form-control" />
        <div class="jg-label">Job Requirements:</div>
        <input type="text" name="Requirements_new" class="form-control" />
        <div class="jg-label">Contact Email:</div>
        <input type="text" name="Email_new" class="form-control" />
        <div class="jg-label">Hospital Department:</div>
        <select class="form-control" name="Department_new">
            @foreach (var department in Model.Departments)
            {
                <option value="@department.DepartmentID">@department.DepartmentName</option>
            }
        </select>
        <div class="jg-label">Application Requirements:</div>
        <input type="text" name="Application_new" class="form-control" />

        <div>
            <input type="submit" class="jg-button submit-button" value="Submit" />
        </div>
    </form>
</div>
