﻿@model KirklandHospital.Models.ViewModels.JobDepartment
@{
    ViewData["Title"] = "Create";
}
<div class="body-content container">

    <h2 class="form-header">Edit Job Posting</h2>
    <form class="jg-form" method="POST" action="/Job/Edit/@Model.Job.JobID">
        <div class="jg-label">Job Title:</div>
        <input type="text" name="Title" value="@Model.Job.JobTitle" class="form-control" />
        <div class="jg-label">Job Description:</div>
        <input type="text" name="Description" value="@Model.Job.JobDescription" class="form-control" />
        <div class="jg-label">Applications Close:</div>
        <input type="text" name="ClosingDate" value="@Model.Job.JobClosingDate" class="form-control" />
        <div class="jg-label">Job Requirements:</div>
        <input type="text" name="Requirements" value="@Model.Job.JobRequirements" class="form-control" />
        <div class="jg-label">Contact Email:</div>
        <input type="text" name="Email" value="@Model.Job.JobContactEmail" class="form-control" />
        <div class="jg-label">Hospital Department:</div>
        <select name="Department">
            @foreach (var department in Model.Departments)
            {
                <option value="@department.DepartmentID">@department.DepartmentName</option>
            }
        </select>
        <div class="jg-label">Application Requirements:</div>
        <input type="text" name="Application" value="@Model.Job.JobApplicationRequirements" class="form-control" />

        <div>
            <input type="submit" class="jg-button submit-button" value="Submit" />
        </div>
    </form>
</div>