﻿@model IEnumerable<KirklandHospital.Models.Job>

@{
    ViewBag.Title = "List";
}
    <div class="img-block-career">
        <div class="img-caption">
            <h3 class="img-caption_text-career">
                Work for Humber Lake Hospital!
            </h3>
        </div>
    </div>
    <div class="body-content container">


        <h2 class="form-header"> Job Postings </h2>

        <div class="jg-form">
            <p class="form-text">
                Thank you for visiting the Humber Lake Careers Page! <br />
                We have lots of exciting opportunities available. Please take a look at the openings below to find out more information on each
                position.
            </p>


            <table class="table">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Closing Date</th>
                        <th>Contact</th>
                        <th>More Details</th>
                        @if ((string)ViewData["UserHasAdmin"] == "True")
                        {
                            <th>Edit</th>
                            <th>Delete</th>

                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Job in Model)
                    {
                        <tr>
                            <td>@Job.JobTitle</td>
                            <td>@Job.JobClosingDate</td>
                            <td>@Job.JobContactEmail</td>
                            <td>@Html.ActionLink("Show", "Show/" + Job.JobID)</td>
                            @if ((string)ViewData["UserHasAdmin"] == "True")
                            {
                                <td>@Html.ActionLink("Edit", "Edit/" + Job.JobID)</td>
                                <td>@Html.ActionLink("Delete", "Delete/" + Job.JobID)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            @ViewData["PaginationSummary"]
            @Html.ActionLink("Prev",
            "List",
            "Job",
            new { pagenum= ((int)ViewData["pagenum"]-1)}
            )

            @Html.ActionLink("Next",
            "List",
            "Job",
            new { pagenum = ((int)ViewData["pagenum"]+1)}
            )
        </div>
    </div>
