﻿@model KirklandHospital.Models.Job;
@{
    ViewData["Title"] = "Show";
}
<div class="body-content container">

    <h1 class="form-header">@Model.JobTitle</h1>

    <div class="jg-form">
        <h3>Job Description:</h3>
        <p>@Model.JobDescription</p>
        <div class="border-divider"></div>

        <h3>Job Requirements:</h3>
        <p>@Model.JobRequirements</p>
        <div class="border-divider"></div>

        <h4> To apply contact @Model.JobContactEmail with the following information:</h4>

        <p>@Model.JobApplicationRequirements</p>

        <p>Applications close: @Model.JobClosingDate</p>

        @Html.ActionLink("Back to all jobs", "List")
    </div>
</div>
