﻿ @model IEnumerable<KirklandHospital.Models.BabyGallery>

@{
    ViewData["Title"] = "PublicList";
}

<div class="page-wrap">
    <h2 class="public-title">Newborn Gallery</h2>
      
    @foreach (var item in Model) {

    <div class="container">
        <h3>@Html.DisplayFor(modelItem => item.PostTitle)</h3>
        <p>@Html.DisplayFor(modelItem => item.BirthDate)</p>
        <p>@Html.DisplayFor(modelItem => item.PostContent)</p>
        <p>@Html.DisplayFor(modelItem => item.FamilyName)</p>
    </div>      
    }
 </div>
