﻿@model IEnumerable<KirklandHospital.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Admin Users</h2>
<div class="page-wrap container">
    <div>
        @{ 
            string id = "";
        }
        @if ((string)ViewData["UserHasAdmin"] == "False")
        {
            @Html.ActionLink("Create an admin account", "Create")
        }
        else if ((string)ViewData["UserHasAuthor"] == "None")
        {
            @Html.ActionLink("Register a general account", "Register", "Account")

        }
        else
        {
            @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
            id = (string)ViewData["UserHasAuthor"];
        }

    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdminFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminRole)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
         {
            <tr>
                <td>
                    @item.AdminFName
                </td>
                <td>
                    @item.AdminLName
                </td>
                <td>
                    @item.AdminRole
                </td>

                <td>
                    @if (item.AdminID.ToString() == id)
                     {
                        @Html.ActionLink("Edit", "Edit", new { id = item.AdminID })
                        @Html.Raw(" | ")
                     }
                    @Html.ActionLink("Details", "Details", new { id = item.AdminID })
                    @if (item.AdminID.ToString() == id)
                     {
                        @Html.Raw(" | ")
                        @Html.ActionLink("Delete", "Delete", new { id = item.AdminID })
                     }
                </td>

            </tr>
         }
    </table>
</div>

