﻿body, p {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 16px;
    padding:0;
    margin:0;
}

.jg-h {
    font-family: 'Khula', sans-serif;
}
#navbarcontainer {
    width: 100%;
}

.jg-button {
    font-size: 16px;
    border-radius: 5px;
    background-color: #feb729;
    color: #00275e;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: bold;
    border: none;
}

    .jg-button:hover {
        background-color: #00275e;
        color: #feb729;
    }

.border-divider {
    border-bottom: #00275e solid 1px;
}

/*Header and Nav Bar Styles*/

#top-menu{
    height:50px;
    background-color:#6d98ab;
    width:100%;
    position:absolute;
    top:0px;
}
#top-menu ul{
    padding-right:3em;
}

    #top-menu button {
        color: white;
        font-family: 'Khula', sans-serif;
        font-size: 16px;
    }
 #top-menu ul li a {
     color: white;
     font-family:'Khula', sans-serif;
    font-size:16px;
    }

#top-menu ul li:hover{
    background-color:#6d98ab;
}

    #toggle-button {
        background-color: #002753;
    }
#logo-block {
    margin: 0 auto;
    vertical-align: middle;
    width:90%;
   
}

#site-header {
    font-family: 'Khula', sans-serif;
    font-size: 3em;
    color: #002753;
    text-transform: uppercase;
    margin-top: 2em;
    display: inline-block;
    position: relative;
    top: 25px;
}

#logo {
    margin-right: 2em;
    width:15%;
    
 
}

.donation-button {
    position:absolute;
    right: 125px;
    top:65px;
}


.emergency-button {
    background-color: red;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: bold;
    border: none;
    position: absolute;
    right: 10px;
    top: 65px;
}

.button-link {
    color: white;
}

.button-link:hover {
        text-decoration: underline;
        color: white;
    }

#nav-bar {
    background-color: white;
    border: none;
    border-radius: 0;
    margin-bottom: 0 !important;
    -webkit-box-shadow: 0 8px 6px -6px #4d4c4c;
    -moz-box-shadow: 0 8px 6px -6px #4d4c4c;
    box-shadow: 0 8px 6px -6px #4d4c4c;
}

    #nav-bar a {
        color: #002753;
        font-family: 'Khula', sans-serif;
        font-size: 1.2em;
      
    }
.dropdown-list a {
    text-transform: uppercase;
}

.dropdown-list ul {
    display: none;
    list-style:none;
    margin-top:15px;
    position:absolute;
    padding:10px;
    top:35px;
    background-color:#ede9e9;
    z-index:100;
     
}
.dropdown-list:hover ul {
    display: block;
    
}

.dropdown-list:hover {
    background-color: #ede9e9;
}

.dropdown-list ul li {
        width:225px;
        padding-bottom:5px;
    }

 .dropdown-list ul li:hover {
        width: 200px;
        color: #002753;
    }
 .dropdown-list ul li a{
     text-transform:unset;

     font-family:'Pontano Sans', sans-serif;
 }

 .dropdown-list{
     position:relative;
 }







/*FORM STYLING*/
.jg-form {
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1.3em;
}

.form-header {
    background-color: #00275e;
    color: #feb729;
    font-family: 'Khula', sans-serif;
    padding: 15px;
    margin-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-transform: uppercase;
    text-align: center;
}

.submit-button {
    display: block;
    margin: 10px auto;
    width: 15%;
}

.form-text {
    text-align: center;
    width: 90%;
    margin: 5px auto;
}

/*HOMEPAGE STYLES*/
#features-title {
    background-color: #002753;
    color: #feb729;
    text-transform: uppercase;
    padding: 16px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Khula', sans-serif;
}
.img-block {
    background-image: url('/images/opt2.jpg');
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.img-caption {
    text-align: center;
    padding: 10px;
    position: relative;
    top: 150px;
    width: 100%;
}
.img-caption_text {
    opacity: 1;
    padding: 10px;
    margin: 0 0 10px 0;
    display: block;
    text-align: center;
    z-index: 100;
    color: #002753;
    font-family: 'Khula', sans-serif;
    font-size: 3em;
    text-shadow: 1px 1px #807e7e;
}

.img-caption_button {
    background-color: #002753;
    color: #feb729;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Khula', sans-serif;
}

    .img-caption_button:hover {
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
        color: white;
    }



#news-header {
    font-size: 1.2em;
    background-color: #feb729;
    color: #002753;
    text-align: center;
    padding: 15px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.news-items {
    -webkit-box-shadow: 10px 11px 17px -6px rgba(184,184,184,1);
    -moz-box-shadow: 10px 11px 17px -6px rgba(184,184,184,1);
    box-shadow: 10px 11px 17px -6px rgba(184,184,184,1);
    margin: 0;
    padding: 10px 15px;
    list-style: none;
}
.news-items li{
    padding-bottom:10px;
}
.icons {
    background-color: #002753;
    width: 90%;
    padding-top: 5px;
    margin-top: 5px;
    height: 200px;
}


.icons:hover {
   -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.icon {
    width: 50%;
    display: block;
    margin: 0 auto; 
}
.icon-header {
    color: #feb729;
    font-family: 'Khula', sans-serif;
    text-align: center;

}
.icons:hover .icon-header{
    text-decoration: underline;
}
.icon-border{
    border-left:5px solid white;
    
}

.baby-row{
    margin:20px 0;
  
}

.baby-block {
    background-image: url('/images/baby.jpg');
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}
.gift-block {
    background-image: url('/images/gift.jpg');
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.baby-text {
    background-color: #6d98ab;
    color: white;
    text-align: center;
    height: 200px;
    font-family: 'Khula', sans-serif;
    padding-top:10px;
}

.baby-text h3{
    position:relative;
    top:30px;
}
.img-caption-baby {
    text-align: center;
    padding: 10px;
    position: relative;
    top: 75px;
    width: 100%;
}

.img-caption_text a{
    color:#002753;
    
}


.img-caption_text a:hover{
    color:#feb729;
}


/*SPECIFIC VIEW PAGE STYLES*/
.thank-you-text {
    font-size: 1.3em;
    font-style: italic;
}
.thank-you-box{
    text-align:center;
    margin:10px;
    background-color:#ede9e9;
    color:#002753;
    padding:10px;
}

.img-block-donate {
    background-image: url('/images/donate.jpg');
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.img-block-card {
    background-image: url('/images/card.jpg');
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.img-block-career {
    background-image: url('/images/job.jpg');
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.img-caption_text-career {
    opacity: 1;
    padding: 10px;
    margin: 0 0 10px 0;
    display: block;
    text-align: center;
    z-index: 100;
    color: #feb729;
    font-family: 'Khula', sans-serif;
    font-size: 3em;
    text-shadow: 1px 1px #807e7e;
}
/*FOOTER STYLES*/
#footer{
    background-color: #002753;
    padding:20px 5px 10px 5px;
}

.footer-header{
    color:white;
    font-weight:bold;
    list-style:none;
}

.footer-list {
    display: inline-block;
    font-family: 'Pontano Sans', sans-serif;
    font-size:1em;
}

.footer-list a{
    color:white;
}

.footer-list a:hover{
    color:#feb729;
}
#footer p{
    color:white;
    text-align:center;
    padding-top:10px;

}

/*MEDIA QUERIES*/


@media (max-width:992px) {
    .icons {
        width:60vw;
        height:auto;
        margin:0 auto;
    }
}

@media (max-width:768px){

    .img-block {
        height: 250px;
    }
    .img-caption_text{
        font-size:2em;
    }

   .img-caption{
       top:100px;
   }

   .icons{
       width:70%;
       height:auto;
       margin:10px auto;
   }
}

@media (max-width:481px){
    .footer-list{
        display:block;
    }
}