﻿

.img-caption_text-page {
    text-align: center;
    z-index: 100;
    color: #002753;
    font-family: 'Khula', sans-serif;
    font-size: 3em;
    text-shadow: 1px 1px #807e7e;
}

.img-caption {
    text-align: center;
    padding: 10px;
    position: relative;
    top: 150px;
    width: 100%;
}
.img-feedback {
    background-image: url('/images/feedback-2.jpg');
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.img-caption_text-page-feedback {
    position: absolute;
    left: 4em;
    bottom: -3em;
    z-index: 100;
    color:  #feb729;
    font-family: 'Khula', sans-serif;
    font-size: 3em;
    text-shadow: 1px 1px #807e7e;
    white-space: pre;
}
.text-thank-msg {
    font-family: 'Khula', sans-serif;
    text-align: center;
    color: #002753;
}

.img-gift-shop {
    background-image: url('/images/gift-shop2.jpg');
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.product-name {
    font-family: 'Khula', sans-serif;
    color: #002753;
}
.alert-head {
    font-family: 'Khula', sans-serif;
    /*color: #feb729;*/
    color:red;
}

@media(max-width:1050px) {
    .img-caption_text-page-feedback {
        position: static;
    }
}
 @media(max-width:900px){
    .img-caption_text-page-feedback {
        position: static;
        font-size: 2em;
    } 
 }
@media (max-width:650px) {
    .img-caption_text-page {
        font-size: 2em;
    }

    .img-caption_text-page-feedback {
        white-space: normal;
        left: 1em;
        font-size: 2em;
    }
}