﻿.page-wrap{
    min-height:80vh;
}

.public-title {
    text-align: center;
    font-family: 'Pontano Sans', Helvetica, Arial, sans-serif;
    padding-top:20px;
}

.post__container{
    text-align:center;
}

#nav-bar {
    padding-left:72px;
    font-size:1.2em;
}

#top-menu a:hover {
    color: #6d98ab;
}

.card{
    border: double 1px #000;
    padding-top:40px;
    padding-bottom:40px;
    margin:40px;
    font-size:1.5em;
    border-radius:30px;
}
.card-text{
    padding:20px;
}

.head-space{
    padding-top:50px;
}

.detail-display{
    font-size: 1.75em;
}

@media (max-width:768px){
    .nav > li {
        float:left;
    }
}

@media (max-width:679px) {
    #site-header {
        margin-top: 0;
    }

    #logo{
        padding-top:30px;
    }
}

@media (max-width:390px){
    .img-block{
        height: 300px;
    }
}



