﻿
@model KirklandHospital.Models.Donation;
@{
    ViewData["Title"] = "Create";
}
<div class="img-block-donate">
    <div class="img-caption">
        <h3 class="img-caption_text">
            Donate to Humber Lake
        </h3>
    </div>
</div>
<div class="body-content container"> 
<h2 class="form-header">Make a Donation</h2>
<form class="jg-form" method="POST" action="/Donation/Create">
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">First Name:</div>
            <input type="text" name="FirstName_new" class="form-control"/>
             </div>
        <div class="col-md-6 form-group">
            <div class="jg-label">Last Name:</div>
            <input type="text" name="LastName_new" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">Address:</div>
            <input type="text" name="Address_new" class="form-control"/>
        </div>
        <div class="col-md-6 form-group">
            <div class="jg-label">City:</div>
            <input type="text" name="City_new" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">Country:</div>
            <input type="text" name="Country_new" class="form-control" />
        </div>
        <div class="col-md-6 form-group">
            <div class="jg-label">Postal Code:</div>
            <input type="text" name="PostalCode_new" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">Email:</div>
            <input type="text" name="Email_new" class="form-control" />
        </div>
        <div class="col-md-6 form-group">
            <div class="jg-label">Amount:</div>
            <input type="text" name="DonationAmount_new" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">Comments:</div>
            <input type="text" name="Comments_new" class="form-control" />
        </div>
        <div class="col-md-6 form-group">
            <div class="form-check form-check-inline">
                <div class="jg-label"> Remain Anonymous?</div>
                <input type="radio" id="no" name="RemainAnnon_new"
                   value="0" checked class="form-check-input" />
                <label for="no">No</label>
                <input type="radio" id="yes" name="RemainAnnon_new"
                   value="1" class="form-check-input" />
              <label for="yes">Yes</label>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-md-12">
         <input type="submit" value="Make Donation" class="jg-button submit-button" />
       </div>
    </div>
</form>
    </div>

