﻿
@model KirklandHospital.Models.Donation;
@{
    ViewData["Title"] = "Edit";
}

<div class="body-content container">
    <h2>Edit Donation</h2>
    <form class="jg-form" method="POST" action="/Donation/Edit/@Model.DonationID">
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="jg-label">First Name:</div>
                <input type="text" name="FirstName" value="@Model.DonationFName" class="form-control" />
            </div>
            <div class="col-md-6 form-group">
                <div class="jg-label">Last Name:</div>
                <input type="text" name="LastName" value="@Model.DonationLName" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="jg-label">Address:</div>
                <input type="text" name="Address" value="@Model.DonationAddress" class="form-control" />
            </div>
            <div class="col-md-6 form-group">
                <div class="jg-label">City:</div>
                <input type="text" name="City" value="@Model.DonationCity" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="jg-label">Country:</div>
                <input type="text" name="Country" value="@Model.DonationCountry" class="form-control" />
            </div>
            <div class="col-md-6 form-group">
                <div class="jg-label">Postal Code:</div>
                <input type="text" name="PostalCode" value="@Model.DonationPostalCode" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="jg-label">Email:</div>
                <input type="text" name="Email" value="@Model.DonationEmail" class="form-control" />
            </div>
            <div class="col-md-6 form-group">
                <div class="jg-label">Amount:</div>
                <input type="text" name="DonationAmount" value="@Model.DonationAmount" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="jg-label">Comments:</div>
                <input type="text" name="Comments" value="@Model.DonationComments" class="form-control" />
            </div>
            <div class="col-md-6 form-group">
                <div class="form-check form-check-inline">
                    <div class="jg-label"> Remain Anonymous?</div>
                    <input type="radio" id="no" name="RemainAnnon"
                           value="0" checked class="form-check-input" />
                    <label for="no">No</label>
                    <input type="radio" id="yes" name="RemainAnnon"
                           value="1" class="form-check-input" />
                    <label for="yes">Yes</label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Edit Donation" class="jg-button submit-button" />
            </div>
        </div>
    </form>


    </div>