﻿@model IEnumerable<KirklandHospital.Models.Donation>

@{
    ViewBag.Title = "List";
}

<div class="body-content container">
    <h2 class="jg-header"> Donations </h2>
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
    "List",
    "Donation",
    new { pagenum= ((int)ViewData["pagenum"]-1)}
    )

    @Html.ActionLink("Next",
    "List",
    "Donation",
    new { pagenum = ((int)ViewData["pagenum"]+1)}
    )

    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Donation Amount</th>
                <th>Date of Donation</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Donation in Model)
            {
                <tr>
                    <td>@Donation.DonationFName</td>
                    <td>@Donation.DonationLName</td>
                    <td>@Donation.DonationEmail</td>
                    <td>@Donation.DonationAmount</td>
                    <td>@Donation.DonationDate</td>
                    <td>@Html.ActionLink("Show", "Show/" + Donation.DonationID)</td>
                    <td>@Html.ActionLink("Edit", "Edit/" + Donation.DonationID)</td>
                    <td>@Html.ActionLink("Delete", "Delete/" + Donation.DonationID)</td>

                </tr>
            }
        </tbody>
    </table>
</div>
