﻿@model KirklandHospital.Models.Donation;
@{
    ViewData["Title"] = "Show";
}

<div class="body-content container">
    <h1>Donation Number: @Model.DonationID</h1>

    <p>
        Donor: @Model.DonationFName @Model.DonationLName <br />

        Donation Date: @Model.DonationDate <br />
        Donor Address: @Model.DonationAddress, @Model.DonationCity, @Model.DonationCountry, @Model.DonationPostalCode <br />
        Donor Contact: @Model.DonationEmail <br />
        Comments from donor: @Model.DonationComments<br />
        Remain Anonymous:
        @if (@Model.DonationAnon == 0)
        {
            <span>No</span>
        }
        else
        {
            <span>Yes</span>
        }
        <br />


    </p>



    @Html.ActionLink("Back to all donations", "List")
</div>
