﻿@model KirklandHospital.Models.Donation;
@{
    ViewData["Title"] = "ThankYou";
}

<div class="body-content container">
    <h1 class="jg-h">Thank You!</h1>

    <p class="thank-you-text">
        Thank you, @Model.DonationFName @Model.DonationLName. <br />
        It is because of people like you that our hospital is able to help those in need and save lives everyday.
        Your donation is lightening the burden for struggling families through hard times and giving hope to those suffering alone.
        From the whole Humber Lake community, we thank you. <br />
    </p>
   <p> Below is a summary of your donation details: </p>
    <div class="thank-you-box">
        <p>



            Donation Amount: $@Model.DonationAmount <br />
            Donation Date: @Model.DonationDate <br />
            Donor Address: @Model.DonationAddress, @Model.DonationCity, @Model.DonationCountry, @Model.DonationPostalCode <br />
            Donor Contact: @Model.DonationEmail <br />
            Comments from donor: @Model.DonationComments<br />
            Remain Anonymous:
            @if (@Model.DonationAnon == 0)
            {
                <span>No</span>
            }
            else
            {
                <span>Yes</span>
            }
            <br />


        </p>
    </div>

</div>
