﻿
@model KirklandHospital.Models.NewsEvent;
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Donation</h2>
<form method="POST" action="/NewsEvent/Edit/@Model.NewsEventID">
    <div class="jg-label">News/Event Title:</div>
    <input type="text" name="FirstName" value="@Model.NewsEventTitle" />
    <div class="jg-label">Description:</div>
    <input type="text" name="LastName" value="@Model.NewsEventDescription" />
    <div class="jg-label">Image:</div>
    <input type="file" name="Address" value="@Model.ImagePath" />
    <div>
        <input type="submit" value="Edit NewsEvent" />
    </div>
</form>


