﻿@model IEnumerable<KirklandHospital.Models.NewsEvent>
@{
    ViewData["Title"] = "List";
}
@if ((string)ViewData["UserHasAdmin"] == "True")
{
    <div class="recadd">
        @Html.ActionLink("New News/Event", "New", "NewsEvent")
    </div>
}

<h2>NewsEvent List</h2>


@ViewData["PaginationSummary"]
@Html.ActionLink("Prev",
"List",
"NewsEvent",
new { pagenum= ((int)ViewData["pagenum"]-1)}
)

@Html.ActionLink("Next",
"List",
"NewsEvent",
new { pagenum = ((int)ViewData["pagenum"]+1)}
)
<div class="row">
                @foreach (var newsevents in Model)
                {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img class="card-img img-fluid" src="~/images/NewsEvent/@(newsevents.ImagePath)" width="100" />
                            <div class="caption">
                                <h4 class="card-title">@Html.ActionLink(@newsevents.NewsEventTitle, "Show/" + newsevents.NewsEventID) </h4>
                                <p>@newsevents.NewsEventDescription</p>
                            </div>
                                @if ((string)ViewData["UserHasAdmin"] == "True")
                                {
                                    @Html.ActionLink("Delete", "Delete/" + newsevents.NewsEventID)
                                    @Html.ActionLink("Edit", "Edit/" + newsevents.NewsEventID)
                                }
                            </div>
                        </div>

                 }
</div>

