﻿
@{
    ViewData["Title"] = "New";
}

<h2>New NewEvent</h2>
@using (Html.BeginForm("New/", "NewsEvent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input id="NewsEventTitle_New" name="NewsEventTitle_New" />
    </div>
    <div class="inprow">
        <div class="inplabel">Description</div>
        <textarea id="NewsEventDescription_New" name="NewsEventDescription_New"></textarea>
    </div>
    <div class="inprow">
        <div class="inplabel">Image</div>
        <input name="img" title="Upload your image" type="file" />
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
}