﻿@model KirklandHospital.Models.NewsEvent;
@{
    ViewData["Title"] = "Show";
}

<h1 class="form-header">@Model.NewsEventTitle</h1>

<div class="jg-form">
    <img src="~/images/NewsEvent/@(Model.ImagePath)" width="100" />
    <p>@Model.NewsEventDescription</p>
    @if ((string)ViewData["UserHasAdmin"] == "True")
    {
        @Html.ActionLink("Delete", "Delete/" + Model.NewsEventID)
        @Html.ActionLink("Edit", "Edit/" + Model.NewsEventID)
    }
        <div class="border-divider"></div>

        <p>
            @Html.ActionLink("Back to all News&Events", "List")
        </p>
</div>