﻿@model KirklandHospital.Models.GiftShopProduct

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h2 class="form-header">Add a Product</h2>
    <div class="container" style="width:30em;">
        <hr />
        <form method="POST" action="/GiftShopProduct/Create" enctype="multipart/form-data">
            <div class="form-group">
                <label>Product Name:</label>
                <input class="form-control" type="text" name="ProductName_New" />
            </div>
            <div class="form-group">
                <label>Product Price:</label>
                <input class="form-control" type="text" name="ProductPrice_New" />
            </div>
            <div class="form-group">
                <label>Product Quantity:</label>
                <input class="form-control" type="text" name="ProductQuantity_New" />
            </div>
            <div class="form-group">
                <label>Content:</label>
                <textarea class="form-control" name="ProductDescription_New"></textarea>
            </div>
            <div class="form-group">
                <label>Product Image:</label>
                <input class="form-control" type="file" name="ProductImage_New" />
            </div>

            <button type="submit" class="btn btn-secondary">Submit</button>

        </form>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
