﻿@model KirklandHospital.Models.GiftShopProduct

@{
    ViewData["Title"] = "Edit";
}

<h2 class="form-header">Edit Gift Shop Product</h2>

<div class="container"style="width:30em;">
    <hr/>
    <form method="POST" action="/GiftShopProduct/Edit/@Model.ProductID" enctype="multipart/form-data">
        <div class="form-group">
            <label>Product Name:</label>
            <input class="form-control" type="text" name="ProductName" value="@Model.ProductName" />
        </div>
        <div class="form-group">
            <label>Product Price:</label>
            <input class="form-control" type="text" name="ProductPrice" value="@Model.ProductPrice" />
        </div>
        <div class="form-group">
            <label>Product Quantity:</label>
            <input class="form-control" type="text" name="ProductQuantity" value="@Model.ProductQuantity" />
        </div>
        <div class="form-group">
            <label>Content:</label>
            <textarea class="form-control" name="ProductDescription">@Model.ProductDescription</textarea>
        </div>
        <div class="form-group">
            <label>Product Image:</label>
            <input class="form-control" type="file" name="ProductImage_New" value="@Model.ProductImage"  />
        </div>

        <button type="submit" class="btn btn-secondary">Edit</button>

    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>