﻿@model IEnumerable<KirklandHospital.Models.GiftShopProduct>

@{
    ViewData["Title"] = "List";
}


@if ((string)ViewData["IsAdmin"] == "None")
{

    <div class="img-gift-shop">
        <div class="img-caption">
            <h3 class="img-caption_text-page">
                Gift Shop Products!
            </h3>
        </div>
    </div>
    <div class="container">

        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "List",
            "GiftShopProduct",
            new { pagenum = ((int)ViewData["pagenumber"] - 1) }
            )

        @Html.ActionLink("Next",
            "List",
            "GiftShopProduct",
            new { pagenum = ((int)ViewData["pagenumber"] + 1) }
            )
        <div class="row">
            @foreach (var GiftShopProducts in Model)
            {

                <div class="col-sm-3 col-md-4">
                    <div class="thumbnail jg-form">                     
                            <img src="~/images/Product/@(GiftShopProducts.ProductImage)" width="150" />
                        <div class="caption">
                            <h3 class="product-name">@GiftShopProducts.ProductName</h3>
                            <p> @GiftShopProducts.ProductDescription</p>
                            <div>Product Price:$ @GiftShopProducts.ProductPrice</div>
                            <div>Quantity: @GiftShopProducts.ProductQuantity</div>
                            <p>
                                <a asp-controller="GiftShopCustomer"
                                   asp-action="Create" class="btn btn-default" role="button">Choose</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
@if ((string)ViewData["IsAdmin"] != "False" && (string)ViewData["IsAdmin"] != "None")
{
    <div class=" container">
        <h2 class="form-header">List of Gift Shop products</h2>

        <div><a asp-action="Create">Create New</a></div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "List",
            "GiftShopProduct",
            new { pagenum = ((int)ViewData["pagenumber"] - 1) }
            )

        @Html.ActionLink("Next",
            "List",
            "GiftShopProduct",
            new { pagenum = ((int)ViewData["pagenumber"] + 1) }
            )
        <table class="table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Product Price</th>
                    <th>Product Quantity</th>
                    <th>Product Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@(product.ProductID)</td>
                    <td>@(product.ProductName)</td>
                    <td>@(product.ProductDescription)</td>
                    <td>@(product.ProductPrice)</td>
                    <td>@(product.ProductQuantity)</td>
                    <td>@(product.ProductImage)</td>
                    <td>@Html.ActionLink("Edit", "Edit/" + product.ProductID)</td>
                    <td>@Html.ActionLink("Delete", "Delete/" + product.ProductID)</td>
                </tr>
            }
        </table>
        <!--@foreach (var Product in Model)
        {
            <div>
                <img src="~/images/Product/@(Product.ProductImage)" width="200" />
            </div>

        }-->

    </div>
}


