﻿@{
    ViewData["Title"] = "About";
}
<div class="container body-content">
<h1 class="jg-h">Humber Lake Hospital Project</h1>


<p>Welcome to the Humber Lake Hospital site. This is a disclaimer to let you know that this is not a real website, this was a school project
    completed by students of Humber's Web Development program. Thank you and we hope you enjoyed our site!</p>
</div>