﻿@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="img-block">
        <div class="img-caption">
            <h3 class="img-caption_text">
                It's flu shot season. Have you gotten your shot yet?
            </h3>
            <a class="img-caption_button" href="~/NewsEvent/List">MORE NEWS</a>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-9 features">
                <div class-"row">
                    <div class="col-md-4 icons">
                        <a href="~/BookAnAppointment/New"><img class="icon" src="~/images/appt.png" alt="Book an Appointment icon" /></a>
                        <h3 class="icon-header">Appointments</h3>
                    </div>
                    <div class="col-md-4 icons icon-border">
                       <a href="~/Home/About"> <img class="icon" src="~/images/location.png" alt="Location icon" /></a>
                        <h3 class="icon-header">Location</h3>
                    </div>
                    <div class="col-md-4 icons icon-border">
                        <a href="~/Donation/Create"><img class="icon" src="~/images/donation.png" alt="Donation icon" /></a>
                        <h3 class="icon-header">Donations</h3>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <h2 id="news-header">Announcements and Community News</h2>
                <div class="row">
                    <div class="col-md-12 news-content">
                        <ul class="news-items">
                            <li>
                                You can always find our more about about what's happening at Humber lake on our
                                <a href="~/NewsEvent/List">News and Events page!</a>
                            </li>
                            <li>Have you gotten a flu shot yet? Find out why they are going to be extra important this winter!</li>
                            <li>Blood drive happening at the end of April!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row baby-row">
            <div class="col-md-3 baby-text">
                <h3>The newest additions to the Humber Lake Community!</h3>
            </div>
            <div class="col-md-9 baby-block">
                <div class="img-caption-baby">
                    <h3 class="img-caption_text">
                        <a href="~/BabyGallery/PublicList">Visit the Newborn Gallery!</a>
                    </h3>
                </div>

            </div>
        </div>
        <div class="row baby-row">
            <div class="col-md-9 gift-block">
                <div class="img-caption-baby">
                    <h3 class="img-caption_text">
                        <a href="~/GiftShopProduct/List">Check out the gift shop!</a>
                    </h3>
                </div>
            </div>
                <div class="col-md-3 baby-text">
                    <h3>Stop by our Gift Shop to help lift the spirits of our patients!</h3>
                </div>
            
        </div>
    </div>


</main>
