﻿@model KirklandHospital.Models.ViewModels.ECardCreate
@{
    ViewData["Title"] = "Create";
}
<div class="img-block-card">
    <div class="img-caption">
        <h3 class="img-caption_text">
            Send a card to a Humber Lake Patient
        </h3>
    </div>
</div>
<div class=" body-content container">
<h2 class="form-header">Send an ECard!</h2>

<form method="POST" action="/ECard/Create" class="jg-form">
    <p class="form-text">Brigten a patient's day and send them a beautiful custom Ecard to let them know you're thinking of them and hope they get better soon!<br/>
    Choose from the pre-formatted image and message options below and fill in the custom message field with any other well wishes you'd like to send along.</p>
    <div>ECard Message:</div>
    <select name="ECardMessage_new" class="form-control">
        @foreach (var message in Model.ECardMessages)
        {
            <option value="@message.ECardMessageID">@message.ECardMessageText</option>
        }
        
    </select>

    <div>Image:</div>
    @foreach (var image in Model.ECardTemplates)
    {
        <input type="radio" name="ECardTemplate_new" value="@image.ECardTemplateID" /> <img src="~/images/ECard/@(image.ECardTemplatePath)" width="100" /> 
    }



    <div>Custom Message:</div>
    <input type="text" name="CustomMessage_new" class="form-control"/>
   

    <div class="row">
        <div class="col-md-6 form-group">
            <div class="jg-label">Your Email:</div>
            <input type="text" name="UserEmail_new" class="form-control" />
            
        </div>
        <div class="col-md-6 form-group">
            <div class="jg-label">Email to send the card to:</div>
            <input type="text" name="PatientEmail_new" class="form-control" />
           
        </div>
    </div>

        <div>
            <input type="submit" value="Submit" class="jg-button submit-button" />
        </div>
</form>
</div>