﻿@model KirklandHospital.Models.ViewModels.ECardCreate
@{
    ViewData["Title"] = "Edit";
}
<div class="body-content container">
<h2>Edit ECard</h2>
<form method="POST" action="/ECard/Edit/@Model.ECard.ECardID">
    <div class="jg-label">ECard Message:</div>
    <select name="ECardMessage">
        @foreach (var message in Model.ECardMessages)
        {
            <option value="@message.ECardMessageID">
                @message.ECardMessageText </option >
            }
    <option value="0"> Custom </option >
</select>

<div>Image:</div>
@foreach (var image in Model.ECardTemplates)
{
    <input type="radio" name="ECardTemplate" value="@image.ECardTemplateID" /> <img src="~/images/ECard/@(image.ECardTemplatePath)" width="100" />
}



<div>Custom Message:</div>
<input type="text" name="CustomMessage" value="@Model.ECard.ECardCustomMessage"/>

<div>Your Email:</div>
<input type="text" name="UserEmail" value="@Model.ECard.ECardUserEmail" />

<div>Email to send the card to:</div>
<input type="text" name="PatientEmail" value="@Model.ECard.ECardPatientEmail" />

<div>
    <input type="submit" value="Submit" />
</div>
</form>
</div>
