﻿@model IEnumerable<KirklandHospital.Models.ECard>

@{
    ViewBag.Title = "List";
}
<div class="body-content container">

    <h2> ECards </h2>
    <div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
        "List",
        "ECard",
        new { pagenum= ((int)ViewData["pagenum"]-1)}
        )

        @Html.ActionLink("Next",
        "List",
        "ECard",
        new { pagenum = ((int)ViewData["pagenum"]+1)}
        )


        <table class="table">
            <thead>
                <tr>
                    <th>Card ID</th>
                    <th>Sender Email</th>
                    <th>Card Date</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var ECard in Model)
                {
                    <tr>
                        <td>@ECard.ECardID</td>
                        <td>@ECard.ECardUserEmail</td>
                        <td>@ECard.ECardDate</td>
                        <td>See More</td>
                        <td>@Html.ActionLink("Edit", "Edit/" + ECard.ECardID)</td>
                        <td>@Html.ActionLink("Delete", "Delete/" + ECard.ECardID)</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
