﻿@model KirklandHospital.Models.ECard
@{
    ViewData["Title"] = "Show";
}
<div class="body-content container">

    <h1 class="jg-h">Thank you!</h1>

    <p>
        Thank you for sending a card to a patient in our hospital. We are sure your message will
        brighten their day! <br />
        Below are the details of your card:
    </p>

    <div class="thank-you-box">

        <img src="~/images/ECard/@(Model.ECardTemplate.ECardTemplatePath)" width="300" />


        <p>
            @Model.ECardMessage.ECardMessageText<br />
            @Model.ECardCustomMessage
        </p>

    </div>

    <p>Your message will be delievered to @Model.ECardPatientEmail</p>
</div>
